@import 'vars.less';
@import 'mixin.less';
@import 'iconfont.less';

/* 页面大于480时整体放大页面内容 */
// @media only screen and (min-width: 480px) { html { font-size: 16px; } }
// @media only screen and (min-width: 1280px) { html { font-size: 18px; } }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.clear { clear: both; }

.left { float: left; }

.right { float: right; }
.border-bottom-none{ border-bottom:none}
.autoh { height: auto; overflow: hidden; zoom: 1; }

.clearfix:after:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

h1.none, h2.none, h3.none, h4.none, h5.none, h6.none, p.none { margin: 0; }

ul.none { margin: 0; padding: 0; list-style: none; }

ul.none li { list-style: none; }

ol.none { margin: 0; padding: 0; list-style: none; }

ol.none li { margin: 0; padding: 0; list-style: none; }

dl.none dd { margin: 0; }

em.none { font-style: normal; }

.color-red { color: #F00; }

.color-green { color: @green-color; }

.color-blue { color: @blue-color; }

.color-yellow { color: #FF0; }

.color-grey { color: #AAA; }

.color-orange { color: #F63; }

.color-c { color: #CCC; }

.color-white { color: #FFF; }

.color-light { color: #98989f; }

.color-main { color: #EB6001; }

.fz10 { font-size: 10px; }

.fz12 { font-size: 12px; }

.fz14 { font-size: 14px; }

.fz16{ font-size: 16px; }

.fz18 { font-size: 18px; }

.fz20{ font-size: 20px; }

.hidden { display: none !important; }

.hidden-v { visibility: hidden !important; }

.border-none { border: none; outline: medium; }

/*box布局*/
.flex { display: box;display: flex; }

/*横向排列*/
.flex-hx {  box-orient: borizontal;flex-direction: row; }

/*纵向排列*/
.flex-zx {  box-orient: vertical; flex-direction: column; }

/*水平居中*/
.flex-hc { box-pack: center; justify-content: center; 	/* 其它取值如下： align-items	 主轴原点方向对齐 flex-end		主轴延伸方向对齐 space-between   等间距排列，首尾不留白 space-around	等间距排列，首尾留白 */ }

/*垂直居中*/
.flex-vc { align-items: center; }

/* 父元素-横向换行 */
.flex-hw { box-lines: multiple;  flex-wrap: wrap; }

.box-flex-1 { box-flex: 1; flex: 1; }

.box-flex-2 {box-flex: 2;  flex: 2; }

.box-flex-33 { -webkit-flex: 0 0 33.3%; }

.ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.pull-right{ float: right !important}
.pull-left{ float:left !important}
/* public */
*, :before, :after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 10px; height: 100%; }

body, input, select, button, textarea { font-family: Arial, 'Microsoft YaHei', Verdana, sans-serif; line-height: 1.6; -webkit-tap-highlight-color: transparent; }

body { margin: 0; padding: 0; background: #f8f8f8; color: #444; font-size: 1.4rem;user-select:none }

a:hover, a:active { outline: 0; }

a { color: #333; text-decoration: none; }

a:visited { color: #333; }

a:hover { color: #666666; }

a:active { color: #666666; }

img { vertical-align: top; }

table { border-collapse: collapse; border-spacing: 0; }

/* 选择文字时 */
::-moz-selection { background: #EB6001; color: #fff; text-shadow: none; }

::selection { background: #EB6001; color: #fff; text-shadow: none; }

/* 按钮 */
.btn { display: inline-block; font-size: inherit; padding: 5px 8px; border: 1px solid transparent; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; }

.btn:active { -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn-block { display: block; width: 100%; box-sizing: border-box; }

.btn-default { background-color: #fff; border-color: #ddd; color: #444; }

.btn-default:hover { background-color: white; border-color: #aaa; color: #444; }

.btn-success { background: @green-color; border-color:@green-color; color: #fff; }
.btn-success:hover, .btn-success:visited { background-color:@green-color; border-color: @green-color; color: #fff; }

.btn-info { background: @blue-color; border-color:@blue-color; color: #fff; }
.btn-info:hover, .btn-info:visited { background-color:@blue-color; border-color: @blue-color; color: #fff; }

.btn-primary { background: @main-color; border-color:@main-color; color: #fff; }

.btn-primary:hover, .btn-primary:visited { background-color: @main-color; border-color: @main-color; color: #fff; }

.btn-ornament { background: #EB6001; border-color: #EB6001; color: #fff; }

.btn-ornament:hover, .btn-ornament:visited { background-color: #fe6c08; border-color: #fe7517; color: #fff; }

.btn-grey { background: #b5bcc9; border-color: #b5bcc9; color: #fff; }

.btn-grey:hover, .btn-grey:visited { background-color: #c4c9d4; border-color: #cdd1da; color: #fff; }

.btn-highlight { background: #EB6001; border-color: #EB6001; color: #fff; }

.btn-highlight:hover, .btn-highlight:visited { background-color: #fe6c08; border-color: #fe7517; color: #fff; }

.btn.disabled { background: #ddd; border-color: #ddd; color: #999; }

/* 输入框 */
.inp { border: 1px solid #ddd; outline:none; padding: 5px 8px; font-size: inherit; display: inline-block; vertical-align: middle; background-color: #fff; border-radius: 3px; -moz-appearance: none; -webkit-appearance: none; }

.inp-block { display: block; width: 100%; }

.inp-noborder { border: none; padding: 5px 0; }

.select-noborder { -moz-appearance: none; -webkit-appearance: none; padding: 5px 8px; font-size: inherit; display: inline-block; vertical-align: middle; background: none; border: none; }


.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.margin-none { margin: 0; }
.img-bespread{ width: 100%;}


.nav { height: 40px; background: #EB6001; color: #FFF; font-size: 16px; line-height: 40px; }
.nav ul { margin: 0; padding: 0; list-style: none; }
.nav li { padding-left: 0.6rem; }
.nav a { height: 4rem; color: #ffd7da; display: block; box-sizing: border-box; text-align: center; }
.nav a.current { color: #FFF; border-bottom: 0.2rem solid #FFF; }

.subnav { position: fixed; left: 0; top: 0; z-index: 99999; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }
.subnav .cont { width: 200px; background: #FFF;  border-radius: 6px; }
.subnav .cont a { display: block; padding: 10px; color: #EB6001; text-align: center; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.subnav .cont a:last-child { border-bottom: none; }

.nav ~ .body { padding-top: 40px; }

.login-banner { line-height: 0; }
.login-banner img { width: 100%; }
.login-banner .swiper-pagination-bullet { background: rgba(255, 255, 255, 0.5); opacity: 1; }
.login-banner .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #EB6001; }

.padding { font-size: 16px; min-height: 46px; padding: 8px 12px; line-height: 22px; border-bottom: 1px solid #eee; }
.section { margin: 0; background: #FFF; overflow: hidden;    box-shadow: 0 3px 3px 0 rgba(0,0,0,.05); }
.section > *:last-child { border-bottom: none; margin-bottom: -1px; }

*.mt1rem { margin-top: 10px; }


@backWidth :40px;
.back-top{
    position: fixed;
    width: @backWidth;
    height:@backWidth;
    line-height: @backWidth;
    text-align: center;
    color:#FFF;
    font-size: 14px;
    right:10px;
    bottom:20px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

/* 确认框 */
/* line 119, ../sass/include/base.scss */
.window-confirm {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .65);
  z-index: 12000;
  padding: 10px; }
  /* line 120, ../sass/include/base.scss */
  .window-confirm .wrap {
    width: 20rem;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden; }
    /* line 121, ../sass/include/base.scss */
    .window-confirm .wrap div {
      font-size: 12px;
      border-top: 1px solid #ddd; }
    /* line 122, ../sass/include/base.scss */
    .window-confirm .wrap span {
      display: block;
      text-align: center;
      padding: 6px;
      cursor: pointer; }
    /* line 123, ../sass/include/base.scss */
    .window-confirm .wrap span:first-child {
      border-right: 1px solid #ddd; }
    /* line 124, ../sass/include/base.scss */
    .window-confirm .wrap span:active {
      background: #eee; }
    /* line 125, ../sass/include/base.scss */
    .window-confirm .wrap p {
      margin: 0;
      text-align: center;
      font-size: 14px;
      padding: 10px;
      font-weight: 700; }
  /* line 127, ../sass/include/base.scss */
  .window-confirm .new-wrap {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden;
    position: relative; }
    /* line 128, ../sass/include/base.scss */
    .window-confirm .new-wrap > div {
      font-size: 12px; }
    /* line 129, ../sass/include/base.scss */
    .window-confirm .new-wrap > div.btn-close {
      font-size: 30px;
      position: absolute;
      right: 4px;
      top: 0;
      z-index: 9999; }
    /* line 130, ../sass/include/base.scss */
    .window-confirm .new-wrap p {
      margin: 0;
      text-align: left;
      font-size: 14px !important;
      color: #777; }
    .window-confirm .new-wrap .title {
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0;
      border-bottom: 1px solid #ddd; }

    .window-confirm .new-wrap section {
      padding: 15px; }

  .window-confirm .wrap-icon {
    width: 75%;
    height: 200px;
    position: absolute;
    max-width: 100%;
    background:#fff;
    overflow:hidden;
    padding:20px 0 30px 0;
    text-align:center; 
    right:0;
    left:0;
    bottom:0;
    top:0;
    margin:auto;
    border-radius: 2px;
    box-shadow: 1px 1px 30px rgba(0,0,0,.3);
    transform:scale(0);
    animation: Popup-animate .5s ease forwards;
  }
  @keyframes Popup-animate { 0% { opacity: 0.7; transform: scale(1) translateY(-50px); }
    100% { opacity: 1; transform: scale(1) translateY(0px); } }
    .window-confirm .wrap-icon .box-icon {
      font-size: 75px !important;
      font-weight: normal !important;
      margin: 0; }
    /* line 138, ../sass/include/base.scss */
    .window-confirm .wrap-icon .text-icon {
      font-size: 20px;
      margin: 0;
      color: #555; }
    /* line 139, ../sass/include/base.scss */
    .window-confirm .wrap-icon > p {
      padding: 0 20px; }

/* 弹出层 */
/* line 144, ../sass/include/base.scss */
.window-pop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 12000;
  padding: 10px; }
  .window-pop .wrap {
    width: 200px;
    max-width: 100%;
    margin: 0 auto;
    background: #fff;
    overflow: hidden; }
    .window-pop .wrap div.window-pop-content {
      font-size: 12px;
      padding: 10px;
      display: block; }
    .window-pop .wrap div.window-pop-btns {
      display: flex;
      border-top: 1px solid #ddd; }
    .window-pop .wrap div.window-pop-btns span {
      display: block;
      text-align: center;
      padding: 6px;
      cursor: pointer; }
    .window-pop .wrap div.window-pop-btns span:first-child {
      border-right: 1px solid #ddd; }
    .window-pop .wrap div.window-pop-btns span:active {
      background: #eee; }
    .window-pop .wrap .title {
      height: 30px;
      line-height: 30px;
      padding: 0 10px 0;
      border-bottom: 1px solid #ddd; }
