@import "~styles/pulic.less";
footer{
    width: 100%;
    position: fixed;
    bottom:0;
    left:0;
    border-top: 1px solid @border-color;
    z-index: 9999;
    >a{
        padding-top:0.3rem;
        div{
            font-size: 2.2rem;
            margin-bottom:0.2rem;
            transition:color .2s;
        }
        span{
            font-size: 1.7rem;
        }
        .active{
            color:@primary-color;
        }
    }
    .price-bottom{
        margin-bottom: 0.4rem;
    }
}